<!DOCTYPE html>
<html>

<head>
  <title>Pizza Right Now ADMIN</title>
</head>

<body>
  <h1>Pizza Right Now </h1>
  <h2>Admin</h2>
  </br>
  <h3>Orders</h3>
  </br>
  </br>
  <ul>
    <li>{{orders.id}}</li>

  </ul>
  </br>
</body>

</html>