<!DOCTYPE html>
<html>

<head>
  <title>@Ken's Kitchen</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Lato" rel="stylesheet">

</head>

<body>
  <div id="root">

    <h2>{{menu}}</h2>

  </div>
  <script src="/static/bundle.js"></script>
</body>

</html>
{{!-- // client server --}} {{!-- // browser reads hbs on server index.js --}} {{!-- //hbs - some is static html but some
is dynamic html --}} {{!-- // handlebar only for entry not to render --}} {{!-- handlebars = html --}}