* {
  box-sizing: border-box;
}

body {
  margin: 20;
}

.header{
  padding-left:40px;
  height:100px;
  border-bottom:1px solid black;
  
}

h1{
  font-family: 'Wendy One', sans-serif;
  font-size:48px;
  margin-left:40px;
}

h2{
font-size:30px;
margin-left: 30px;
font-family: 'Caveat Brush', cursive;
/* font-family: 'Caveat', cursi?ve; */

}

.menu{
  display:flex;
  flex-direction:row;
  flex:12;
}
.order__form{
  flex:8;
  margin-left:100px;
}

.menu__item{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;

  height:300px;
  font-size:30px;
  border-bottom:1px solid black;
}

.menu__item--pic{
margin-top:50px;
}

.menu__item--text{
  margin-top:50px;
  flex:8;
  background: #ffeeee;

}
.menu__item--price{
 text-align: right;
}
.bill{
  flex:4;
  border-left:1px solid black;
  font-size:30px;
margin-left: 30px;
font-family: 'Caveat Brush', cursive;
}